body {
  font-family:arial;
  background-color: aliceblue;
  margin: 40px;
}
h1 {
  font-size: 34px;
  border-bottom: solid;
  border-left: solid;
  border-width: 2px;
  padding: 1%;
  border-color: black;
  margin-right: 30%;
  background-color: rgb(200, 200, 200);
}
img {
  float: right;
  box-sizing: border-box;
  width: 250px;
  border: solid;
  border-width: 3px;
  padding: 1%;
  margin: 6%;
  border-color: black;
  background-color:rgb(200, 200, 200);
}
.column {
  float:left;
  box-sizing: border-box;
  margin: 20px;
  padding: 5px;
  width: 30%;
}
.column p {
  text-align: left;
  line-height: 130%;
}
.lang {
  font-weight:500;
  color: rgb(30, 165, 51);
  font-style: oblique;
}