body {
  font-family:arial;
  background-color: aliceblue;
  margin: 40px;
}
h1 {
  font-size: 32px;
  border: solid;
  border-width: 3px;
  padding: 1%;
  border-color: black;
  margin-right: 10%;
  background-color: rgb(160, 160, 160);
}
img {
  float: right;
  box-sizing: border-box;
  width: 250px;
  border: solid;
  border-width: 3px;
  padding: 1%;
  margin: 6%;
  border-color: black;
  background-color: rgb(160, 160, 160);
}
.column {
  float: inline-start;
  box-sizing: border-box;
  width: 700px;
  margin: 20px;
  padding: 1%;
}
.column p {
  text-align: left;
  line-height: 130%;
}
.lang {
  font-weight:500;
  color: rgb(30, 165, 51);
  font-style: oblique;
}